.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e7e7e7;
  background-image: url('../images/salma_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 11px;
  background-color: #fff;
  opacity: 0.91;
}

.left {
  width: 40%;
  padding: 81px 37px 37px 0px;
}

.right {
  width: auto;
  padding: 0px 37px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.lable {
  margin-bottom: -10px;
  padding-top: 0px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.input {
  margin-top: 20px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #f3c6c6;
  border-radius: 4px;
}

.input::-webkit-input-placeholder {
  font-size: 11px;
}

.input:-ms-input-placeholder {
  font-size: 11px;
}

.input::-ms-input-placeholder {
  font-size: 11px;
}

.input::placeholder {
  font-size: 11px;
}

.botton {
  position: static;
  display: block;
  margin-top: 10px;
  padding: 10px 62px;
  border-radius: 5px;
  background-color: #a00003;
}

.grid {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.heading {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
}

.image {
  margin-top: -100px;
}

.heading-2 {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 600;
}

.text-block {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
}

.small {
  font-size: 8px;
  text-transform: lowercase;
}

.textarea {
  padding-top: 10px;
  padding-bottom: 40px;
  border: 1px solid #f3c6c6;
  line-height: 20px;
}

.feedback_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e7e7e7;
  background-image: url('../images/feedback_bg.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 991px) {
  .botton {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-right: 10px;
    padding-left: 10px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .left {
    position: relative;
    width: auto;
    padding: 20px 0px 10px;
  }
  .right {
    width: auto;
    margin-bottom: 20px;
    padding: 0px;
  }
  .botton {
    margin-top: 20px;
    margin-left: 0px;
    padding-right: 90px;
    padding-left: 90px;
  }
  .heading {
    margin-top: 30px;
  }
  .image {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: block;
    margin-top: -20px;
  }
  .feedback_section {
    padding-right: 10px;
    padding-left: 10px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
}

@media (max-width: 479px) {
  .botton {
    margin-top: 20px;
  }
}

#w-node-b7d410090105-871c3266 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#Fullname-2.w-node-665bf41aa355-871c3266 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ce5e32b890e8-871c3266 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#Email-Address.w-node-13588c7c24ba-871c3266 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b7d410090108-871c3266 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#Mobile.w-node-b7d41009010a-871c3266 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-253c44f5b27b-871c3266 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#Account-Number.w-node-b7d410090107-871c3266 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-4fb47e0d3d1b-871c3266 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#State.w-node-de8bb1f28dc9-871c3266 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-42566d307a87-871c3266 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#Religion.w-node-cdd8831f2c25-871c3266 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-008308f702d9-b2444e0b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#Fullname-2.w-node-665bf41aa355-b2444e0b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ce5e32b890e8-b2444e0b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#Email-Address.w-node-13588c7c24ba-b2444e0b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b7d410090108-b2444e0b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#Mobile.w-node-b7d41009010a-b2444e0b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-253c44f5b27b-b2444e0b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#Account-Number.w-node-b7d410090107-b2444e0b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#Account-Number-2.w-node-323169e6f14f-b2444e0b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#feedback.w-node-f923cd43a448-b2444e0b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-c2ac6307ab31-b2444e0b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}